{# app/Resources/views/form/fields.html.twig #}
{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            <label class="col-sm-4 control-label"> {{ form_label(form) }}</label>
            <div class="col-sm-8">

                {{ form_widget(form) }}
            </div>

            <label class="control-label text-red">{{ form_errors(form) }}</label>

        </div>
    {% endspaceless %}
{% endblock form_row %}