vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Oct 2011 20:19:24 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|24 Oct 2011 20:19:24 -0000
vti_filesize:IR|7054
vti_cachedlinkinfo:VX|S|/PresupuestoProduccion/images/fondoBTN.jpg S|/SGMina1/images/fondobtnGuardar.jpg S|../images/fondo_encabezado.jpg S|../images/fondo_footer.jpg
vti_cachedsvcrellinks:VX|NSUS|PresupuestoProduccion/images/fondoBTN.jpg NSUS|SGMina1/images/fondobtnGuardar.jpg FSUS|Capacitacion/Util/images/fondo_encabezado.jpg FSUS|Capacitacion/Util/images/fondo_footer.jpg
vti_backlinkinfo:VX|
