{% extends 'index.html.twig' %} 
{% block contenido %}
<h1>Pronóstico de Recaudación</h1>
<input id="data" value={{dataPoints}}>{{ dataPoints }}</input>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="{{ asset('assets/plugins/canvasjs/canvasjs.min.js') }}"></script>
<script type="text/javascript">
  window.onload = function() {
    var x = JSON.parse(document.getElementById("data").value);
    var chart = new CanvasJS.Chart("chartContainer", {
      title: {
        text: "My First Chart in CanvasJS"
      },
      axisY: {
        title: "Revenue in USD",
        valueFormatString: "#0,,.",
        suffix: "mn",
        prefix: "$"
      },
      data: [
        {
          type: "spline",
          markerSize: 5,
          xValueFormatString: "YYYY",
          yValueFormatString: "$#,##0.##",
          xValueType: "dateTime",
          dataPoints: x
        }
      ]
    });
    chart.render();
  };
</script>

{% endblock %}
