body {
  max-height: 100vh;
}

body > .content {
  max-height: 94vh;
}

body > .content > .login-box {
  margin: 3% auto;
}

body > .main-footer {
  max-height: 6vh;
}

textarea::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0.5vw;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
  visibility: hidden;
}

*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  background: rgb(193, 193, 193);
}

.main-footer {
  margin-left: 0;
  height: 8vh;
}

.sidebar.toggled > .sidebar-brand {
  visibility: hidden;
}

.sidebar > .sidebar-heading.dpto1 {
  visibility: visible;
}

.sidebar > .sidebar-heading.dpto2 {
  visibility: hidden;
}

.sidebar.toggled > .sidebar-heading.dpto1 {
  visibility: hidden;
}

.sidebar.toggled > .sidebar-heading.dpto2 {
  visibility: visible;
}

.sidebar-brand {
  margin-left: -3rem !important;
}

.sidebar-item {
  padding: 0.4rem 0.75rem 0.4rem 1rem !important;
}

.hide-element {
  display: none !important;
}
