vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Mar 2007 12:00:48 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|02 Mar 2007 12:00:48 -0000
vti_filesize:IR|1593
vti_cachedlinkinfo:VX|S|/PresupuestoVentas/images/DataGrids/main_datagrid_header.jpg S|/PresupuestoVentas/images/DataGrids/dg_fondo.jpg
vti_cachedsvcrellinks:VX|NSUS|PresupuestoVentas/images/DataGrids/main_datagrid_header.jpg NSUS|PresupuestoVentas/images/DataGrids/dg_fondo.jpg
vti_backlinkinfo:VX|
