{% extends 'index.html.twig' %} {% block contenido %}
<br />
{{ form_start(edit_form, { method: "POST" }) }}
<div class="card shadow">
  <div class="card-header">
    <div class="col-md-8 offset-md-2">
      <h3>Editar Tipo de Incidencias</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="col-md-8 offset-md-2">
      <div class="form-group">
        <label class="col-sm-4 control-label">Tipo</label>
        {{ form_widget(edit_form.tipoIncidencias,
             {'attr' : {'class' : 'form-control' }}
        )}}
      </div>
      <br />
      <div class="text-right">
        <a
          class="btn btn-outline-secondary"
          href="{{ path('tipoincidencia_index') }}"
        >
          Cancelar
        </a>
        <input type="submit" class="btn btn-primary" value="Guardar" />
      </div>
    </div>
  </div>
  {{ form_end(edit_form) }}
</div>
{% endblock %}
