{% extends 'base.html.twig' %}

{% block body %}
<div class="panel row">
    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
        <div >
            <h3 class="letra2"> Cómo insertar una nueva demanda?</h3>
            <p class="text-justify">
                <img class="nav" src='{{ asset('Nueva Demanda.jpg') }}'  />
            </p>
        </div>
    </table>

</div>
<div>
        <div >
            <h3 class="letra2">  Cómo insertar una nueva entidad? </h3>
            <p class="text-justify">
                <img class="nav" src='{{ asset('Nueva Entidad.jpg') }}'  />
            </p>
        </div>
    <div>
        <div >
            <h3 class="letra2">  Cómo insertar un nuevo producto? </h3>
            <p class="text-justify">
                <img class="nav" src='{{ asset('Nuevo Producto.jpg') }}'  />
            </p>
        </div>

{% endblock %}
